{# extends permet d'hériter d'un template #}
{% extends "base.html.twig" %}

{% block body %}

	<!-- Card -->
<div class="card col-lg-4 col-md-6 mx-auto text-center mb-3 p-3 mt-3 mr-1">

     <!-- Title -->
    <h4 class="card-title">{{ article.title}}</h4>

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="{{ article.image }}"
      alt="Card image cap">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Text -->
    <p class="card-text">{{ article.content|raw }}</p>
   <div class="metadata">Ecrit le {{ article.createdAt|date("d/m/Y à H:i:s") }} </div>
    <!-- Button -->
    <a href="{{ path('blog')}}" class="btn btn-primary">Retour</a>

  </div>

</div>
<!-- Card -->


{% endblock body %}
