{# extends permet d'hériter d'un template #}
{% extends "base.html.twig" %}

{% block body %}

	<section class="row article">

		<article class="col-md-6 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1"
>

			<h2> {{ article.title}} </h2>

			<div class="metadata">Ecrit le {{ article.createdAt|date("d/m/Y à H:i:s") }} dans la catégorie Politique</div>

			<hr>
			<div class="content">

				<img src="{{ article.image }}" alt="">

					{# le filtre raw permet d'interpréter les balises html lors de l'affichage #}
				{{ article.content|raw }}
				<a href="{{ path('blog') }}" class="btn btn-primary">Retour</a>

			</div>

		</article>

	</section>

{% endblock body %}
